.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 2rem 0;
}

.search-suggestions {
    width: 380px;
    height: auto;
    line-height: 30px;
    padding: 1rem 1rem;
    margin: 1rem;
    z-index: 2;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main-notice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    padding: 2rem;
    background-color: var(--blue);
    color: var(--white);
    width: 750px;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}